extends layout

block content
  .row.banner
    .col-12
      h1 Delete Course from Schedule
  .row
    .col-12.col-md-8
      form(action=`/courses/${courseid}/delete`, method="post", role="form")
        button.btn.btn-primary.float-right Really Delete?
      a.btn.btn-primary.float-right.button(href=`/courses/${courseid}`) Back to Course
    .col-12.col-md-4