extends layout

block content
  .row.banner
    .col-12
      h1 Delete Course from Schedule
  .row
    .col-12.col-md-8
      form(action=`/courses/${courseid}/delete/new`, method="post", role="form")
        button.btn.btn-primary.float-right Really Delete?
    .col-12.col-md-4